frontend/node_modules
frontend/playwright-report
.DS_Store
frontend/dist
frontend/dist-ssr
*.local
frontend/dist*
*-lock.*
frontend/pnpm-debug
stats.html
.idea
frontend/.vscode
cmd/server/temp
cmd/server/temp/*
cmd/server/__debug_bin.exe
uploads/
uploads/*
